In [5]:
#load the dataset
#import pandas library
import pandas as pd
dataset=pd.read_csv('/content/sample_data/salary_data.csv')
#dataset.describe()
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [ ]:
#Independent variables (also referred to as Features) are the input for a process that is being analyzes. 
#Dependent variables are the output of the process.